<h1>Reset Password</h1>

<%= form_for(@player, url: password_reset_path(params[:id])) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field_tag :email, @player.email %>

  <div class="field">
  	<%= f.label :password %>
  	<%= f.password_field :password %>
  </div>
  <div class="actions">
  	<%= f.submit "Reset Password", class: "green btn" %>
  </div>
<% end %>