<h1>Start New Game</h1>

<%= form_for(@game) do |f| %>
<div class="field">
    Total players for new game:<br />
     
    <%= f.radio_button(:num_players, 3) %>
    <%= f.label :num_players_3, "3", class: "number_players" %><br />
    
    <%= f.radio_button(:num_players, 4, checked: true) %>
    <%= f.label :num_players_4, "4", class: "number_players" %><br />
    
    <%= f.radio_button(:num_players, 5) %>
    <%= f.label :num_players_5, "5", class: "number_players" %><br />
    
    <%= f.radio_button(:num_players, 6) %>
    <%= f.label :num_players_6, "6", class: "number_players" %><br />
    
    <%= f.radio_button(:num_players, 7) %>
    <%= f.label :num_players_7, "7", class: "number_players" %><br />
    
    <%= f.radio_button(:num_players, 8) %>
    <%= f.label :num_players_8, "8", class: "number_players" %><br />
  </div>
  <div class="actions">
    <%= f.submit "Start", class: "green btn" %>
  </div>
<% end %>