<% provide(:title, "Leaderboard") %>
<h1>Leaderboard</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <% headers = ["Screen Name", "Games Played", "Won (%)", "Profit", "Profit/Game"] %>
      <% headers.each do |header| %>
        <% direction = header == params[:sort] && params[:order] == "desc" ? "asc" : "desc" %>	
        <th><%= link_to header, :sort => header, :order => direction %></th>
      <% end %>
    </tr>
  </thead>
  

  <tbody>
    <% @stats.each_with_index do |player, i| %>
      <tr <%= i % 2 == 0 ? "class=odd" : "class=even" %>>
      	<td><%= i + 1 %></td>
        <td class="left"><%= player.screen_name %></td>
        <td><%= player.games_played %></td>
		<td><%= player.wins %>&nbsp;(<%= number_to_percentage(player.win_pct * 100, precision: 1) %>)</td>
		<td><%= player.profit %></td>
		<td><%= number_with_precision(player.ppg, precision: 2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% last_page = (@players.count/20.0).ceil %>
<% if last_page > 1 %>
<p>Page: 
	<% params[:page].nil? ? this_page = 1 : this_page = params[:page].to_i %>
	<% if this_page > 1 %>
	  <%= link_to "First", :sort => params[:sort], :page => 1 %>
	  <%= link_to "Previous", :sort => params[:sort], :page => this_page - 1 %>
	<% end %>
	
	<% if this_page < last_page %>
	  <%= link_to "Next", :sort => params[:sort], :page => this_page + 1 %>
	  <%= link_to "Last", :sort => params[:sort], :page => last_page %>
	<% end %>
</p>
<% end %>
<br>

