<h1>Profile and Stats</h1>

<h2>Name:
	<%= @player.first_name %>
	<%= current_player?(@player) ? @player.last_name : @player.last_name[0,1] %>
</h2>

<h2>Email:
  <%= current_player?(@player) ? @player.email : "hidden" %>
</h2>

<h2>Screen name:
  <%= @player.screen_name %>
</h2>

<% if @player.human == false %>
  <span class = "red btn">Robot</span><br /><br />
<% end %>

<% if current_player?(@player) %>
  <br /><%= link_to 'Edit', edit_player_path(@player), class: "green btn" %><br /><br />
<% end %>

<% stats = Lineup.find_by_sql("SELECT COUNT(*) as games_played, SUM(won_pot::int) as wins, AVG(won_pot::int) as win_pct, SUM(amount_paid) as profit, AVG(amount_paid) as ppg FROM lineups WHERE player_id = #{@player.id}").first %>

<% if stats.games_played > 0 %>
<table>
	<tr>
		<th>Games Played</th>
		<th>Games Won (%)</th>
		<th>Profit/Loss</th>
		<th>P/L per Game</th>
	</tr>
	<tr>
		<td><%= stats.games_played %></td>
		<td><%= stats.wins %>&nbsp;(<%= number_to_percentage(stats.win_pct * 100, precision: 1) %>)</td>
		<td><%= stats.profit %></td>
		<td><%= number_with_precision(stats.ppg, precision: 2) %></td>
	</tr>
</table>
<% else %>
<p>No games played, yet.</p>
<% end %>

<% if Game.joins(:players).where("players.id = #{@player.id}").where("games.completed = false").present? %>
  <p>You have unfinished games!  <%= link_to("Play now!", games_path) %></p>
<% end %>
