<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @player.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @player.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @player.password %>
</p>

<p>
  <strong>Screen name:</strong>
  <%= @player.screen_name %>
</p>

<p>
  <strong>Human:</strong>
  <%= @player.human %>
</p>

<% stats = Lineup.find_by_sql("SELECT COUNT(*) as games_played, SUM(won_pot) as wins, AVG(won_pot) as win_pct, SUM(amount_paid) as profit, AVG(amount_paid) as ppg FROM lineups WHERE player_id = #{@player.id}").first %>

<% if stats.games_played > 0 %>
<table>
	<tr>
		<th>Games Played</th>
		<th>Games Won (%)</th>
		<th>Profit/Loss</th>
		<th>P/L per Game</th>
	</tr>
	<tr>
		<td><%= stats.games_played %></td>
		<td><%= stats.wins %>&nbsp;(<%= number_to_percentage(stats.win_pct * 100, precision: 1) %>)</td>
		<td><%= stats.profit %></td>
		<td><%= number_with_precision(stats.ppg, precision: 2) %></td>
	</tr>
</table>
<% else %>
<p>No games played, yet.</p>
<% end %>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
