<p id="notice"><%= notice %></p>

<p>
  <strong>Suit:</strong>
  <%= @card.suit %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @card.abbreviation %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @card.rank %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
